SECRET_KEY=replace-with-a-random-secret
DATABASE_URL=postgresql+psycopg://todo:devpass@localhost:5432/todo
TEST_DATABASE_URL=postgresql+psycopg://todo:devpass@localhost:5432/todo_test
EMAIL_SERVICE_URL=http://localhost:4000
SYNC_JOB_POLL_INTERVAL_SECONDS=1
SYNC_JOB_MAX_ATTEMPTS=3
SYNC_JOB_BASE_DELAY_SECONDS=2
